<div class="admin-detail">
  <h2>Invite Manager</h2>
  {{#if this.successMessage}}
    <div class="alert alert-success">
      {{this.successMessage}}
      <br />
      <strong>Invite URL:</strong>
      <a href={{this.inviteUrl}} target="_blank">
        {{this.inviteUrl}}
      </a>
    </div>
  {{/if}}

  {{#if this.errorMessage}}
    <div class="alert alert-error">
      {{this.errorMessage}}
    </div>
  {{/if}}
  <InviteManagerEditor />
</div>
