<div class="display-row">
  <div class="field">Membership Expiry Date</div>
  <div class="value">{{if this.model.expiration_date this.model.expiration_date "-"}}</div>
  <div class="controls"></div>
</div>
