<div class="modal-body">
  <h2>{{i18n "technogiq_invites.modal_title"}}</h2>

  <Input
    @value={{this.email}}
    placeholder="Email address"
    class="input-large"
  />

  <div class="modal-footer">
    <button class="btn btn-primary" {{on "click" this.createInvite}}>
      {{i18n "technogiq_invites.create"}}
    </button>
  </div>
</div>
